# System
PROJECT_NAME=PROJECT_NAME
ENVIRONMENT=ENVIRONMENT
PORT=PORT
SERVER_BASE_URL=SERVER_BASE_URL
CLIENT_BASE_URL=CLIENT_BASE_URL

ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=ACCESS_TOKEN_EXPIRY
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY=REFRESH_TOKEN_EXPIRY

# Database
MONGODB_URI=MONGODB_URI

SESSION_SECRET=SESSION_SECRET
ONBOARD_TOKEN_SECRET=ONBOARD_TOKEN_SECRET
ONBOARD_TOKEN_EXPIRY=ONBOARD_TOKEN_EXPIRY

# smtp
SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT
SMTP_FROM=SMTP_FROM
SMTP_PASS=SMTP_PASS
SMTP_USER=SMTP_USER

# Cloudflare R2
R2_TOKEN=R2_TOKEN
R2_ACCESS_KEY_ID=R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=R2_SECRET_ACCESS_KEY
R2_ENDPOINT=R2_ENDPOINT
R2_BUCKET=R2_BUCKET
R2_PUBLIC_BASE_URL=R2_PUBLIC_BASE_URL

# USI Java Service
# Docker: http://usi-java-service:8085/api  |  Local: http://localhost:8085/api
USI_API_BASE_URL=USI_API_BASE_URL
SYSTEM_ABN=SYSTEM_ABN